.navbar-container {
  display: flex;
  width: 100vw;
  height: 10vh;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.navbar-container p {
  font-size: 18px;
  font-weight: 600;
}
